---
import Navbar from "../components/Navbar.astro";
import { getUrl } from "../util/path";
---

<html>
  <link rel="icon" type="image/x-icon" href=`${getUrl('ec_logo.svg')}` />
  <title>Decay of Lying Introduction</title>
  <body>
    <Navbar />
    <main class="container">
        <h1>Critical Introduction</h1>
        <h2>by Brandon Hurst</h2>
        <h3>About the Edition</h3>
        <p>
            In this section, I plan to introduce the editiorial policies and guiding philosophies that informed the assembly of the "Fluid Text" edition of Oscar Wilde's "The Decay of Lying."
        </p> 
        <p>
          Section on Textual History
        </p>
        <p>
            The term "Fluid Text," “any literary work that exists in more than one version,” was introduced by John Bryant and taken up (under various nomenclature) by a number of digital scholars such as Paul Eggert, Dirk Van Hulle, and Elena Pierazzo. The fluid or "living-text" (Eggert) concept as a editorial and critical framework, theorizes a way of exploring the rich significance <i>in</i> what has previously been termed textual "instability." Bryant offers the fluid text concept and theory as a way of rethinking the “work-concept” and problematizes the idea of an “authoritative” or “fixed” version of any text, the predominant "one-text culture" (Pierazzo) or "single-text logic" (Van Hulle) of literary studies. As Bryant concisely states “all works—because of the nature a of texts and creativity—are fluid texts. . .it is inherent in the phenomena of writing itself. . .Literary works invariably exist in more than one version, either in early manuscript forms, subsequent print edition, or even adaptation. . .the processes of authorial, editorial, and cultural revision that create theses versions are inescapable” (1). Bryant rejects the disciplinary convention of assembling a single critical text, because, “the smoothness of the reading text, a hallmark of critical editing, in effect denies us an immediate awareness of the actual roughness of the textual record, and textuality itself” (27). Instead, Bryant’s reframes what has traditionally been called textual “instability” as a remarkably generative and rich potentiality for scholarship; whereas textual “instability” or “indeterminacy” casts the act of editing as an effort to solidify textual precarity, a “fluid” text and “textual fluidities” not only accounts for, but embraces as a hermeneutically significant the “flow of creativity” and the inherently social processes and inflections on the act of writing (as opposed to authorship) (5-6). He argues that the concept of the fluid-text makes room for the taking into account of intention as an utterance of broader socio-cultural movements. Situating his theory in conversation with Foucault and Derrida, Bryant argues, “a fluid text bodies forth concrete instances of an idiosyncratic individual negotiating idiosyncratically with an audience. Such idiosyncrasies cannot represent a cultural, but as a particularized instance of cultural engagement, the may be seen in their peculiarity as a concrete enactment of culture. . .they are a graphic manifestation of the discourses of self, word, and society” (9).The approach of this edition is meant to enable readers realize that texts are yes, authored, but also bound up in “the socialised circumstances that gave rise to it” (4). As such, this editions representations of Wilde's, and other agents, iterative reconfigurations of the essay can and should be read as creative/authorial choices, but also recognize the ways these choices are always inflected by and discursively engaged with broader literary, social, cultural, and political moments, movements, and ideologes. As Wilde (drawing on Pater) argues in the essay, Art frames and moulds our subjective impression and interpretation of experience, and in turn shapes and informs the art we create. And while he offers an aesthetic theory that attempts to counter this aesthetically reproductive cycle, his project (evidenced to his use of his own writings and his conceptual similarities to the work of some of his contemporaries as demonstrated by Bristow and Mitchell, Guy, and Schroder), like many artistic and literary efforts of the decadent writers and <i>fin-de-siècle</i> aesthetes, is an impossible achievement doomed to failure (even if the attempt is, in the scheme of things, generative). 
		</p>
        <p>
			In Paul Eggert's <i>The Work and the Reader in Literary Studies: Scholarly Editing and Book History</i>, he outlines the limitations of scholarly editing and the production of scholarly editions of texts, arguing for a living model that draws both upon the epistemologies of book history and literary critics for a semiotics and hermeneutics of editing. Eggert's model reads and re-presents texts as socially produced “living texts,” and claims that every edition must be an argument: “the texts of works never come down to us in unmediated form, every scholarly edition is necessarily an embodied argument about the text or texts of a work” (36). In re-presenting a text, the editor is making a claim about the text in the act of re-presenting it (a claim borne out and evidenced by the editorial choices). This edition, then, takes as it's “argument” the position that there is unearthed meaning in the variations that we as readers and critics need to not only recognize but actively engage with during the act of reading and interpretation. The "Fluid Text Edition" of Wilde's "The Decay of Lying" makes visible its growth, multiple variants (each stage), as well as the different hands and processes that participate in literary production; the way written texts also “are always evolutionary in their shifting forms” as they, and their meanings, vary and shift as they are “redesigned and reprinted” and also “realised by successive readerships.” In so doing,the edition breaks away from conventional attempts “at establishing the texts of works as intended by their authors” by endeavoring to render legible the essay as a fluid text, helping readers to more easily approach and interpret the “meanings laden” and latent, “in the material forms of the text.” (3).This approach, along with a critical introduction and editorial notes, will attempt to help readers realize that texts are yes, authored, but also bound up in “the socialised circumstances that gave rise to it” (4). While Eggert takes issue with scholars like Frank Morettin and Matthew Jockers on the contention that that distant reading of metadata/digital texts “ ‘their datasets miss most historical connections between literary works,’” and exclude  “contexts of reading and production” (13), this digital edition attempts through introduction and compiled commentary, does not attempt re-present the work as presented and produced (by readers, editors, etc.) beyond its initial drafting and three publications. Instead, what is re-presenting the text as it “lived” and was “produced” in the context of the decadent movement: “Meanings and therefore works were always in process as the network of participants in the work’s trajectory through a culture or cultures across time gave it an ongoing existence: or, what we later came to call a life” (15). However, by encoding this edition in eXtensible Markup Language (see "Using this Edition" below), the fluid text edition of the Decay of Lying attempts to create a version of the text that can leverage the affordances of computational and distant reading methods for a historically and materially sensitive reading. Indeed, a close-reading or "slow" reading (Robin Valenza) alongside data analysis and computational methods can be co-ordinated and complimentary in ways that can yield new insights about the text, whether through the uncovering of hitherto unidenitified or neglected evidence or new readings that the defamiliarized reading perspective engenders. As John Bryant argues “the notion of textual fluidity is compatible with current critical approaches” (12), as he argues that “the history of textual versions can be seen as an enactment of deconstruction” with “material versions” and revisions materializing “from the moment of genesis and on into print, a constant deferral of the literary work itself” and that “analysis of textual fluidity—writing, revision, and versions—help us historicize the cultural functionality of creative process: the insertions of self into discourse, the modes of revision, the interdependency of writer and culture” (10, 12). And this critical compability extends to (and is accentuated by) the analytical tools that a digital age and computational methods affords. 
		</p>
        
        <p>
			This edition attempts to represent Wilde's "The Decay of Lying" in initial its variants.
            The goal is to enable readers to investigate the hermeneutic significance of text's variability, with variations themselves being utterances that shift a texts meaning and may signal inflections of larger social, cultural, or political forces that are legible in the fluidity of the texts langugage. At the same time, I draw on the great scholarship of Bristow and Mitchell, who situate Wilde's printed version and the manuscript in conversation with his notebooks and extensive reading, helping to elucidate what Van Hulle terms a "creative ecology": "a web of intertextual and intratextual relations” that includes drafts, notebooks, marginalia, and published variants, “present[ing] the oeuvre not just as a set of works, but as a Gestalt, as something that is not just more than the sum of its parts, but also different from the sum of its parts” (40, 48). To bring this network of creative activity, which includes both reading and writing, this genetic or fluid text edition enables users “to read across versions” in a fashion that highlights “the relations between them” by bringing together the excellent commentary and notes of previous Wilde editors Josephine Guy, Horst Schroeder, and Joseph Brisow and Rebecca N. Mitchell alongside my own commentary on the variations present across <i>all</i> extant versions (38). Moreover, as discussed in the analytical introduction below, I attempt to highlight moments of what Van Hulle has called "creative concurrenece": the moments of textual and conceptual similarity that emerges across discrete "works" but are apart of the same temporally confined creative activity. Some exemplary instances are discussed below, which also spotlight the <i>material</i> component of "creative concurrence" as concepts not only physically move from text to text, but bleed through and become palimpsestically visible. However, these are not mere moments of practical and/or sefl-conscious "Self-Plagiarism" (Guy), but illustrate a creative repurposing and re-envisioning of the same literary material in new phyiscal, temporal, and social moments that constitues a self-reflexive version of what John Bryant calls "adaptive revision." Indeed, beyond the external social and cultural forces that become legible through the text and its variants, the internalization and interpretation of these forces and one's own contributions to the mileau or discourse that comprise these larger cultural sentiments are expressed through both revisions and what is left un revised.
		</p>
        <p>
            More to come. . . 
        </p>
        <p>
            Articulation of the significance and stakes of this type of scholarship (and this edition in particular). What can we learn from taking up this approach/edition as scholars/researchers, its pedagogical applications, etc.  
        </p>
        <h3>Using the Edition</h3>
        <p>
            The "EditionCrafter" view features a side by side visual of encoded and zonded iiif images of the <i>Akron</i> MS and transcriptions and variants of the corresponding portion of the essay. Readers can switch between the five different encoded versions of the text from the dropdown menu at the top right of the viewer. These versions are:</p>
<p>            Folio # Diplomatic Transcription: A Diplomatic Transcription of the <i>Akron</i> MS, which also includes in its display deleted or altered text present in the <i>Berg</i> Manuscripts housed at the New York Public Library.</p>
<p>            Folio # Nineteenth Century: The Version Published in the periodical publication <i>Nineteenth Century</i>, with all MS, Editor, and Typesetter implemented alterations tracked.</p>
<p>            Folio # Intentions 1891: The 1891 <i>Intentions</i> edition, which tracks changes introduced following its periodical publication in 1889.</p>
<p>            Folio # Intentions 1894:The 1894 <i>Intentions</i> edition, mapping differences between the first and second edition of the collection.</p>
<p>            Folio # Fluid: A Fluid Text Version that compiles all the alterations into a single version
        </p>
        <p>
            Should users be interested in viewing or downloading the XML, which encodes all the changes according to the schema mapped below, selectign the "toggle xml" icon to the right of the file selection dropdown menu will display the XML for the selected file.
        </p>
        <p>
            Using the navigation bar at the top of the screen, users can also select to view the "Reading Text" which includes a cleaned, compiled version of the "Fluid" files with accompanying commentary in the form of endnotes.
        </p>
        <p>
            For ease of access and general information, the TEI header information is included here:</p>
<p>            teiHeader xml:id="header": </p>
<p>                fileDesc: </p>
<p>                    titleStmt: </p>
<p>                        title: "The Decay of Lying" A Fluid Text Edition</p>
<p>                        author: Oscar Wilde</p>
<p>                        editor role="general": Brandon Hurst</p>
<p>                    publicationStmt: </p>
<p>                       University of Connectictut</p>
<p>                    sourceDesc: </p>
<p>                        msDesc: </p>
<p>                            msIdentifier: </p>
<p>                                repository: University of Akron: Herman Muehlstein Rare Book Collection</p>
<p>                                idno: PR5818.d43 1889</p>
<p>                    physDesc: </p>
<p>                      handDesc: </p>
<p>                       handNote xml:id="Wilde": Revisons by Oscar Wilde</p>
<p>                       handNote xml:id="comp": Revisions made by compositors of the The Nineteenth Century (Hendra, Hart, Shaw, Bradley, Beer, Hirschfield, Hirchfelt, Bailey, Young, Davis, Deeley)</p>
<p>                profileDesc: </p>
<p>                    creation: </p>
<p>                        listChange: </p>
<p>                            change xml:id="StA": Stage A: Early drafts</p>
<p>                            change xml:id="StAb": Stage Ab: Variants extent in incomplete holograph held in the New York Public Library's Berg collection</p>
<p>                            change xml:id="StB": Stage B: Faircopy manuscript delivered to the<i>The Nineteenth Century</i>. Herman Meuhlstein Collection. University of Akron.</p>
<p>                            change xml:id="StBa": Stage Ba: Ink revisions, in Wilde's hand, the Akron Manuscript</p>
<p>                            change xml:id="StBb": Stage Bb: Pencil revisions in Wilde's hand</p>
<p>                            change xml:id="StC": Stage C: Corrections and changes to Stage B text by the compositors or editors of <i>The Nineteenth Century.</i></p>
<p>                            change xml:id="StD": Stage D: Revisions made between <i>NC </i>and 1891 <i>Intentions</i></p>
<p>                            change xml:id="StE": Stage E: Revisions introduced between 1891 and 1894 editions of <i>Intentions</i></p>
<p>                    particDesc: </p>
<p>                        listPerson: </p>
<p>                            person: </p>
<p>                                persName xml:id="V.": Vivian</p>
<p>                                persName xml:id="C.": Cyril.</p>
<p>        </p>
        <p>
            There are a select few Stage C changes which have not been assigned a "hand" attribute. These are changes in diction and phrasing that are not present as revisions to the MS but have been implemented in the 1889 published text.
        </p>
        <h3>Analytical Introduction</h3>
        <p>
            In Progress. . . 
        </p>
		<h3>Select Bibliography</h3>
		<p>
		Scholarly Editing:
			Bryant, John. The Fluid Text: A Theory of Revision and Editing for Book and Screen. The University of Michigan Press, 2005.</p>
<p>			Eggert, Paul. The Work and the Reader in Literary Studies: Scholarly Editing and Book History. Cambridge University Press, 2019.</p>
<p>			Jannidis, Fotis. “Computation Literary Studies and Scholarly Editing,” Futures of Digital Scholarly Editing. edited by Matt Choen, Kennneth M. Price, and Caterina Bernardi, University of Minnesota Press, 2024, 73-88.</p>
<p>			Pierazzo, Elena. “Modelling Digital Scholarly Editing: From Plato to Heraclitus.” Digital Scholarly Editing: Theories and Practices, edited by Elena Pierazzo and Matthew James Driscoll, 1st ed., vol. 4, Open Book Publishers, 2016, pp. 41–58. JSTOR, http://www.jstor.org/stable/j.ctt1fzhh6v.7. </p>
<p>			Van Hulle, Dirk. “Creative Ecologies,” Futures of Digital Scholarly Editing. edited by Matt Choen, Kennneth M. Price, and Caterina Bernardi, University of Minnesota Press, 2024, 33-50.</p>
<p>		Textual History:</p>
<p>			Bristow, Joseph, and Rebecca N. Mitchell. “Fair Copy Manuscript of Oscar Wilde’s ‘The Decay of Lying: A Dialogue.’” Notes and Queries, vol. 61, no. 4, 2014, pp. 573–75, https://doi.org/10.1093/notesj/gju129. </p>
<p>			—. “Oscar Wilde’s ‘Cultivated Blindness’: Reassessing the Textual and Intellectual History of ‘The Decay of Lying.” The Review of English Studies, vol. 69, no. 288, 2018, pp. 94–156, https://doi.org/10.1093/res/hgx066. </p>
<p>			—. “The Provenance of Oscar Wilde’s ‘Decay of Lying.’” The Papers of the Bibliographical Society of America, vol. 111, no. 2, 2017, pp. 221–40, https://doi.org/10.1086/691557.</p>
<p>			Guy, Josephine M. “Oscar Wilde’s ‘Self-Plagiarism’: Some New Manuscript Evidence.” Notes and Queries, vol. 52, no. 4, 2005, pp. 485–88, https://doi.org/10.1093/notesj/gji427. </p>
<p>			Schroeder, Horst. “Volume IV of the OET Edition of ‘The Complete Works of Oscar Wilde’ IV. ‘The Decay of Lying.’” The Wildean, no. 37, 2010, pp. 16–64. JSTOR, http://www.jstor.org/stable/45270176. and “Volume IV of the OET edition of The Complete Works of Oscar Wilde. I. Historical Criticism and The Soul of Man.” Wildean, no. 34, 2009, pp. 61–76.</p>
<p>			Wilde, Oscar. The Complete Works of Oscar Wilde. Volume IV. Edited by Josephine Guy and Ian Small, Oxford University Press, 2007.</p>
<p>		Criticism:</p>
<p>			Danson, Lawrence. “Wilde as Critic and Theorist.” The Cambridge Companion to Oscar Wilde, edited by Peter Raby, Cambridge University Press, 1997, pp. 80–95, https://doi.org/10.1017/CCOL052147471X.007. </p>
<p>			Green, R. J. “OSCAR WILDE'S INTENTIONS: AN EARLY MODERNIST MANIFESTO,” The British Journal of Aesthetics, v. 13, no. 4, 1973, pp. 397–404. https://doi.org/10.1093/bjaesthetics/13.4.397 </p>
<p>			Guy, Josephine. “Self-Plagiarism, Creativity and Craftsmanship in Oscar Wilde.” English Literature in Transition, 1880-1920, no. 41, 1998, pp. 6–23.</p>
<p>			Fussell, B. H. “The Masks of Oscar Wilde.” The Sewanee Review, vol. 80, no. 1, 1972, pp. 124–39. JSTOR, http://www.jstor.org/stable/27542607. Accessed 28 Sept. 2025.</p>
<p>			Holland, Merlin. “Biography and the Art of Lying.” The Cambridge Companion to Oscar Wilde. Ed. Peter Raby. Cambridge: Cambridge University Press, 1997. 3–17. </p>
<p>			Riquelme, John Paul. “The Negativity of Modernist Authenticity / The Authenticity of Modernist Negativity: ‘No Direction Home’ in Yeats, Dylan, and Wilde.” Modernism/Modernity (Baltimore, Md.), vol. 14, no. 3, 2007, pp. 535–41, https://doi.org/10.1353/mod.2007.0072.</p>
<p>			Schiff, Hilda. “NATURE AND ART IN OSCAR WILDE’S ‘THE DECAY OF LYING.’” Essays and Studies (London. 1950), vol. 18, 1965, pp. 83-102.</p>
<p>			Small, Ian, 'Oscar Wilde', Conditions for Criticism: Authority, Knowledge, and Literature in the Late Nineteenth Century. Oxford, 1991, pp. 112–130. https://doi.org/10.1093/acprof:oso/9780198122418.003.0005</p>
<p>			Small, Ian and Josephine Guy and Ian. “Intentions: A Serious Writer for Trivial Readers; Or, A Trivial Writer for Serious Readers?” Studying Oscar Wilde: History, Criticism, and Myth. ELT Press, 2006, pp. 77-114. Project MUSE, https://muse.jhu.edu/book/11048.</p>
<p>			Sussman, Herbert. “Criticism as Art: Form in Oscar Wilde’s Critical Writings.” Studies in Philology, vol. 70, no. 1, 1973, pp. 108–22. JSTOR, http://www.jstor.org/stable/4173795. 
		</p>
    </main>
  </body>
</html>
<style>
  .container {
    max-width: 800px;
    margin: auto;
  }

  body {
    margin: 0;
  }
</style>
